* {
  padding: 0px;
  margin: 0px;
  background: #e9e9e9;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
    margin: 40px;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
#inputsection{
    display: flex;
    justify-content: center;
    align-items: center;
}
#inputsection > input {
    height: 10px;
    padding: 10px;
    width: 350px;
}
#inputsection > img{
    transform: rotate(-90deg)
}
#taskBar{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    padding: 5px;
}
#taskSection{
    display: flex;
    height: 50px;
    width: 400px;
    justify-content: space-between;
    align-items:center;
}
#taskSection > img{
    width: 40px;
    cursor: pointer;
}
#buttonSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
#buttonSection > span {
    background: #000;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: small;
    cursor: pointer;
    margin: 0px 40px ;
}
#buttonSection > div > span {
    background: #000;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: small;
    cursor: pointer;
    margin: 0px 5px ;
}